@import "tailwindcss";
@import "@fontsource-variable/geist";

 html, body, #root { 
    height: 100%;
}

body {
    font-size: var(--text-base);
    letter-spacing: 0.03em;
    -webkit-font-smoothingL: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

 @theme {
    --color-windows: #0078d4;
    --color-windows-300: #7fbbe9;
    --color-windows-100: #cce4f6;
    
    --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
    --text-base: 0.9rem;
 }

 .yaml-view {
    counter-reset: step;
    counter-increment: step 0;
 }

 .yaml-view .line {
    margin-top: 0.5rem;
 }

 .yaml-view .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1.5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: left;
 }